@using Foosball.Models.FoosballModels
@model Foosball.Models.FoosballModels.Player

@{
    ViewBag.Title = "My Profile";
}

@*Created by Ferenc Hammerl, Edited by Johannes*@

<div class="jumbotron jumbo-marpad">
    <h2 class="text-center">My Profile</h2>
    @{
        Player player = ViewBag.player;
        var gwl = ViewBag.gwl;
        double wonpercent = Math.Round(((double)gwl[1] / (double)gwl[0]) * 100,2);

        <div>
            <h4>Username: @Html.ActionLink(@player.Username, "Edit", new { id = Model.Id }, new { @class = "btn btn-dark" })</h4>
            <h4>Elo: @player.Elo</h4>

            <table class="table table-bordered">

                <tr>
                    <td>
                        <b>
                            Games played
                        </b>
                    </td>
                    <td>
                        <b>
                            Won
                        </b>
                    </td>
                    <td>
                        <b>
                            Lost
                        </b>
                    </td>
                </tr>
                <tr>
                    <td>@gwl[0]</td>
                    <td>@gwl[1]</td>
                    <td>@gwl[2]</td>
                </tr>
            </table>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="@wonpercent" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    @wonpercent %
                </div>
            </div>
    </div>
    }
    



    <h2>My Playes games</h2>
    @{
    
        if (Model.PlayerGames.Count > 0)
        { 
            foreach (PlayerGame playerGame in Model.PlayerGames)
            {

                string a = playerGame.IsConfirmed ? "confirmed" : "unconfirmed";

                <h2 style="cursor: pointer" onclick=" $('#div_@(playerGame.GameId)').toggle('fast'); ">Game played at @(playerGame.Game.Location.Name)</h2>
                <div id="div_@(playerGame.GameId)" class="@(a)">
                    @Html.Partial("MyProfileGameLister", playerGame.Game)
                    @if (!@playerGame.IsConfirmed)
                    {
                        <button id="@("btnConfirm_" + @playerGame.GameId)" value="@(playerGame.GameId)" onclick=" ajaxThing(this); $(this).hide(); " class="btn btn-success">Confirm</button>
                    }
                </div>

            }
        }
        else
        {
            <h4>No games played</h4>
        }
    }
</div>

    @section Scripts {
        <script>

            function ajaxThing(self) {

                var x = self.value;
                var data = { "gameId": x };

                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("Confirm", "Games")",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (dataReturned) {
                        if (dataReturned) {
                            confirmSuccessful(x);
                        }

                    },
                    error: function () {
                        alert("error?");
                    }
                }); //ajax call close
            }
            function confirmSuccessful(x) {
                var k = "#checkBox_" + x;
                $(k).prop("checked", true);
                k = "#div_" + x;
                $(k).hide("slow");
                k = "#div_" + x;
                $(k).removeClass("unconfirmed");
                $(k).addClass("confirmed");
            }


        </script>
    }


