@using Foosball.Models.FoosballModels
@model Foosball.Models.FoosballModels.Player

@{
    ViewBag.Title = "My Profile";

}

<h2>My Profile</h2>



@{
    foreach (PlayerGame playerGame in Model.PlayerGames)
    {
        if (!playerGame.IsConfirmed)
        {
            <div id="div_@(playerGame.GameId)">
                @Html.Partial("~/Views/Games/NakedGameDetails.cshtml", playerGame.Game)
                <button id="@("btnConfirm_" + @playerGame.GameId)" value="@(playerGame.GameId)" onclick=" ajaxThing(this) " class="btn btn-success">Confirm</button>
            </div>
        }
    }
}

@section Scripts {
    <script>

        function ajaxThing(self) {

            var x = self.value;
            var data = { "gameId": x };

            $.ajax({
                type: 'POST',
                url: "@Url.Action("Confirm", "Games")",
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (dataReturned) {
                    console.log(dataReturned);
                    console.log(typeof (dataReturned));
                    if (dataReturned) {
                        confirmSuccessful(x);
                    }

                },
                error: function () {
                    alert("error?");
                }
            }); //ajax call close
        }
        function confirmSuccessful(x) {
            var k = "#checkBox_" + x;
            $(k).prop("checked", true);
            var k = "#div_" + x;
            $(k).hide("slow");


        }

    </script>
}


